NEXT_PUBLIC_SHOPIFY_DOMAIN=redox-design.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=xxxxxxxxxxxxxxxx
SHOPIFY_ADMIN_TOKEN=shpat_xxxxxxxxxxxx
SHOPIFY_WEBHOOK_SECRET=xxxxxxxxxxxx
NEXT_PUBLIC_SITE_URL=https://redoxdesign.com
NEXT_PUBLIC_FREE_SHIPPING_THRESHOLD=100
NEXT_PUBLIC_ALGOLIA_APP_ID=XXXXXXXXXX
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=xxxxxxxxxxxxxxxx
RESEND_API_KEY=re_xxxxxxxxxxxx
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=redoxdesign
